* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Comic Sans MS', sans-serif;
  background-color: #1C1C1C;
}
.menuholder{
  padding: 20px;
  background-color: black;
}
.php_container h1{
  color: white;

}
.php_container{
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  list-style: none;
  padding: 50px;
  border-style: solid;
  margin-left: 20px;
  margin-right: 20px;
  border-color: #B0B0B0;
  border-width: 0.5px;
  border-radius: 5px;
}
.php_container:hover{
justify-content: center;
align-items: center;
flex-wrap: wrap;
transform: scale(1.002);
transition: 0.2s ease;
cursor: pointer;
}

.titles{
  background-color: black;
  align-items: center;
  font-size: 25px;
  padding-left: 1200px;
}
.button{
  text-align: center;
  padding: 0.5rem;
  background-color: inherit;
  display: inline-block;

}
.button a{
  color: white;
  background-color: inherit;
}
.button a:hover{

  transform: scale(1.1);
  transition: 0.2s ease;
  cursor: pointer;
  color: white;
}
.kisfelirat p{
  padding-left: 50px;
  color: #fff;
  font-family: "Ink free";
  font-size: 20px;
  font-style: oblique;
  padding-top: 10px;
  opacity: 70%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.body {
  color: white;
  align-items: center;
  padding: 50px;
  border-style: solid;
  margin-left: 20px;
  margin-right: 20px;
  border-color: #B0B0B0;
  border-width: 0.5px;
  border-radius: 5px;
  font-size: 20px;



}
.body:hover{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform: scale(1.002);
  transition: 0.2s ease;
  cursor: pointer;
}
.body p{
  color: white;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  font-size: 20px;
  line-height: 1.5;
  display: table;
  line-height: 2
}
.footerresz {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 50px;
  border-style: solid;
  margin-left: 20px;
  margin-right: 20px;
  border-color: #B0B0B0;
  border-width: 0.5px;
  border-radius: 5px;

}
.footerresz:hover{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform: scale(1.002);
  transition: 0.2s ease;
  cursor: pointer;
}
